*.env*
data/output/notes_onVector/phase_2_to_12_combined/total_data.csv
code/eval/utils/outputs
data/input/NoteChatSamples/Dial2Note
data/input/AhmadData_Sample
code/eval/outputs
code/eval/outputs/
code/aci_challenge_data
code/aci_code
data/input/PMC_Patents
data/output/notes_onVector/phase_2_to_12_combined
code/data_gen/get_cosine_similarity_score_within_notes.py
code/benchmarking
code/data_gen/gen_utils/semantic_similarity_functions.py
documents_and_paper/
data/output/
data/eval_results/
