*.env*
code/eval/utils/access_tokens.py
data/output/notes_onVector/phase_2_to_12_combined/total_data.csv
code/eval/utils/outputs
data/input/NoteChatSamples/Dial2Note
data/input/AhmadData_Sample
code/eval/outputs
code/eval/outputs/
code/aci_challenge_data
code/aci_code
code/benchmarking/dataset
code/benchmarking/outputs
data/output/processed_NoteChat_data.csv
data/output/notes_onVector/phase_2_to_12_combined/total_data_with_counts.csv
code/data_gen/get_cosine_similarity_score_within_notes.py
code/data_gen/gen_utils/semantic_similarity_functions.py
code/eval/utils/medcon.py
code/eval/utils/prometheus.py
code/eval/get_prometues_absolute_scores.py
code/eval/get_promethus_relative_score.py
code/eval/analyze_prometheus_absolute_scores.py
code/eval/analyze_prometheus_relative_score.py
data/eval_results/original
data/output
data/input/clinicalnlp_taskC_test2_SOAP.csv
data/input/TaskC-TrainingSet_SOAP.csv
data/input/OpenAIkey.txt
data/input/aci_data_all_together.csv
code/benchmarking/DELETE_get_auto_metrics.py
REB
code/PMC_Patient/Mesh_desc2023.xml